################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Asp_Net-Core-6-Web-Api-Setup/.vs/Asp_Net-Core-6-Web-Api-Setup
/Asp_Net-Core-6-Web-Api-Setup/obj
/Asp_Net-Core-6-Web-Api-Setup/bin/Debug/net6.0
/Asp_Net-Core-6-Web-Api-Setup/.vs/ProjectEvaluation
