################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Asp_Net-Core-6-Web-Api-Setup/.vs/Asp_Net-Core-6-Web-Api-Setup
